
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: 'Lato', sans-serif;
}

nav {
  padding: 0 10px;
  width: 100%;
}

p {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ff5438;
}

.top-nav,
.bottom-nav {
  display: none;
}

.hamburger-nav {
  font-size: 45px;
  font-weight: 600;
  margin: 0 20px;
  padding-top: 10px;
  width: 60%;
}

.person {
  margin: 5px;
}

.top-paragraph {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-top: 20px;
  padding-top: 5px;
  font-size: 25px;
  font-weight: 400;
}

.last-p {
  margin-bottom: 70px;
}

.top-heading {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  font-weight: 800;
  font-family: 'cocogoose', sans-serif;
  background-image: url(images/christmas-travel-concept-with-airplane.jpeg);
  background-size: 100%;
  background-size: cover;
  background-clip: content-box;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.font1 {
  font-size: 90px;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: 0;
}

.font2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 42px;
  letter-spacing: 0;
  margin: 10px;
}

.font3 {
  font-weight: 400;
  font-size: 10px;
}

.text-center {
  text-align: center;
}

.grid {
  display: grid;
}

.hamburger-menu {
  display: none;
  height: 95vh;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  margin-top: 0;
  border-bottom-left-radius: 38px;
  border-bottom-right-radius: 38px;
  box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
  font-size: 30px;
  list-style-type: none;
  padding-top: 20px;
}

.nav-item {
  border-bottom: 1px solid #868686;
  width: 30%;
}

.hamburger-menu.active {
  display: flex;
}

.join {
  display: flex;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background: #ff4f38;
  color: #fff;
  margin: 20px;
  font-size: 16px;
  font-style: normal;
  font-weight: 900;
  line-height: 28px;
}

.join a {
  text-decoration: none;
}

.see {
  display: none;
}

.double-paragraph {
  border: 2px solid #fff;
  width: fit-content;
  padding: 20px;
  margin: 20px 5px;
}

.one-column {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.logo a {
  color: #c2c2c2;
  text-decoration: none;
}

.multi-column {
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.programme-container {
  background-image:
    linear-gradient(45deg, #4b4848f2 25%, transparent 25%),
    linear-gradient(-45deg, #423e3eb1 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #363535cf 75%),
    linear-gradient(-45deg, transparent 75%, #1a1919a8 75%);
  background-size: 20px 20px;
  background-position: 0 0, 0 5px, 5px -5px, -5px 0;
  padding: 20px;
}

.programme-cards {
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
}

.min-cards {
  width: 100%;
  margin-top: 15px;
  text-align: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.min-cards h3 {
  color: #ff5438;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
}

.min-cards p {
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
}

.programme-head {
  margin-bottom: 20px;
}

.bg-first {
  background-color: #272a31;
}

.bg-second {
  background-color: #5c5a5aa6;
}

.first-font {
  font-size: 5px;
  font-weight: 200;
}

.ff-color {
  color: rgb(238, 92, 86);
}

.sf-color {
  color: #fff;
}

.tf-color {
  color: #272a31;
}

.ef-color {
  color: #c2c2c2;
}

.img {
  width: 50%;
}

.img2 {
  width: 35%;
}

.img5 {
  width: 25%;
}

.img3 {
  width: 5%;
  margin: 0;
  position: relative;
  bottom: 20px;
}

.minus {
  width: 3px;
  background-color: #ec4327;
  height: 2px;
}

.top-section {
  background-image: url(images/5564814.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top-container {
  padding: 5px 10px;
  display: grid;
  width: 50%;
  margin-left: 90px;
  grid-template-columns: 1fr;
}

.para-div {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  margin-left: 50px;
}

.para {
  margin: 7px;
  padding-top: 10px;
  text-align: left;
}

.speaker-head {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.3px;
  padding-bottom: 2px;
}

.desc1 {
  color: #f78c89;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.2px;
  width: 176px;
  padding-bottom: 2px;
}

.desc2 {
  color: #000;
  font-family: 'Lato', sans-serif;
  font-size: 9px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.54px;
  width: 176px;
}

.our-team {
  margin: 40px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -1px;
}

.logo1 {
  padding: 20px;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-container {
  height: 150px;
  text-align: center;
  align-items: center;
}

.btn-container {
  height: 90px;
}

.btn {
  border: 1px solid #272a31;
  width: 80%;
}

.btn span {
  padding: 10px;
}

@media (min-width: 768px) {
  .top-nav {
    background-color: #000;
    height: 22px;
    cursor: pointer;
    color: #fff;
    position: sticky;
  }

  .bottom-nav {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 17px;
    letter-spacing: 0;
    text-align: left;
    color: #868686;
    height: 75px;
    position: sticky;
    margin: auto;
  }

  .img5 {
    width: 35%;
  }

  .campaign {
    display: flex;
    width: 123px;
    height: 48px;
    padding: 0 17px 0 18px;
    justify-content: center;
    align-items: center;
    border: 5px solid #ec4327;
    color: #ec4327;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  }

  .items {
    margin: 20px 15px;
    text-align: center;
    padding-top: 15px;
  }

  .flex {
    display: flex;
  }

  .flex-center {
    justify-content: space-between;
    align-items: center;
  }

  .flex-end {
    justify-content: flex-end;
    align-items: center;
  }

  .join {
    display: none;
  }

  .see {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 30px;
    font-weight: 400;
  }

  .in-nav {
    width: 90%;
  }

  .ul-nav {
    list-style-type: none;
  }

  .hamburger-nav {
    display: none;
  }

  .programme-cards {
    flex-wrap: nowrap;
    justify-content: center;
  }

  .min-cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    width: 18%;
    margin: 1px;
    padding: 7px 0;
  }

  .center-self {
    justify-content: center;
  }

  .two-column {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .logo-container {
    width: 70%;
    margin: 0 auto;
    height: 240px;
    align-items: center;
  }

  .logo {
    margin: 15px;
  }

  .copyright {
    align-self: center;
  }

  .btn-container {
    display: none;
  }

  footer {
    display: block;
  }
}
